* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(52, 80, 7);
    --accent-color: rgb(26, 25, 25);

    --header-font: "Black Ops One", system-ui;
    --paragraph-font: "Roboto", sans-serif;
}

header {
    display: block;
}

main {
    display: grid;
}

header span {
    font-family: var(--header-font);
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: white;
}

nav {
    background-color: var(--accent-color);
    color: white;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: .5rem;

}

nav a {
    color: white;
    text-decoration: none;
    font-family: var(--header-font);
}

nav a:hover {
    color: var(--primary-color);
}

h1 {
    font-family: var(--header-font);
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.cards {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0rem 2rem 2rem 2rem;
    padding: 1rem;

}



.bio, .resources {
    border: 1px solid var(--accent-color);
    border-radius: 16px;
}

.bio h3 {
    text-align: center;
    border-bottom: 1px solid var(--accent-color);
    font-family: var(--paragraph-font)
}

.bio {
    flex: 2;
}

.about-me {
    display: flex;
    flex-direction: row-reverse;
    margin: 1rem;
    font-family: var(--paragraph-font);
}

.about-me img {
    width: 150px;
    margin: 1rem;
    border-radius: 3px;
    border: 1px solid var(--accent-color);
}

.about-texas {
    margin: 1rem;
    display: flex;
    font-family: var(--paragraph-font);
}

.about-texas img {
    border: 1px solid var(--accent-color);
    width: 200px;
}

.about-texas figcaption {
    text-align: center;
}
.about-texas p {
    margin: 1rem;

}

.resources {
    flex: 1;
    display: block;
    padding: 0px;
    margin: 0px;
    margin-left: 1rem;
}

.resources ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;

}

.resources li {
    padding: 3px;
}

h2 {
    padding: .5rem;
    border-radius: 15px 15px 0px 0px;
    background-color: var(--primary-color);
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

footer {
    display: block;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 17px;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}

#lastModified {
    color: white;
}